.wrapper {
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
}

.item {
    font-size: 14px;
}

.icon {
    font-size: 18px;
    margin-right: 8px;
}